body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #e0e0e0;
}

header {
    background-color: rgba(22, 33, 62, 0.8); /* Semi-transparent pour voir l'arrière-plan */
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    border-bottom: 2px solid #0f3460;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background-color: rgba(15, 52, 96, 0.9); /* Semi-transparent */
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h2 {
    color: #e94560;
    margin-top: 0;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

button {
    background-color: #e94560;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #d6336c;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(22, 33, 62, 0.8); /* Semi-transparent */
    color: #a0a0a0;
    border-top: 2px solid #0f3460;
}

#slideshow-races, #slideshow-classes {
    text-align: center;
    margin: 1rem 0;
    position: relative;
}

#slide-races, #slide-classes {
    max-width: 70%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button#prev-races, button#next-races, button#prev-classes, button#next-classes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
}

button#prev-races, button#prev-classes {
    left: 10px;
}

button#next-races, button#next-classes {
    right: 10px;
}

button#prev-races:hover, button#next-races:hover, button#prev-classes:hover, button#next-classes:hover {
    background-color: rgba(0,0,0,0.8);
}

#menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 4rem;  /* Augmenté de 2rem à 4rem */
    color: white;
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: rgba(15, 52, 96, 0.9);
    padding: 1.5rem;  /* Augmenté de 1rem à 1.5rem */
    border-radius: 5px;
}

#menu a {
    font-size: 1.2rem;  /* Ajouté pour agrandir le texte */
}
#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    margin: 0.5rem 0;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}
